@import "base";
/*
    Edge Warnings
*/

.#{$theme}{
  #boundary-watcher {
      box-shadow: 0 0 30px 10px rgb(155, 255, 255);
      opacity: 0;
      pointer-events: none;
      position: absolute;
      z-index: 99999;
      -webkit-transition: opacity .3s cubic-bezier(0, 0, 0.36, 1);
  }

  .boundary-flash #boundary-watcher {
      opacity : 1;
      -webkit-transition: opacity 0s;
  }

  #boundary-watcher.boundary-right { /* right border */
      height: 100%;
      left: 100%;
      top: 0;
      width: 1px;
  }
  #boundary-watcher.boundary-left { /* left border */
      height: 100%;
      left: -1px;
      top: 0;
      width: 1px;
  }
  #boundary-watcher.boundary-down { /* bottom border */
      height: 1px;
      left: 0;
      top: 100%;
      width: 100%;
  }
  #boundary-watcher.boundary-up { /* top border */
      height: 1px;
      left: 0;
      top: 0;
      width: 100%;
  }
}
