@import "base";
/* Tab View Styles */

.#{$theme}{
  .oc-tabview-tab-tops {
      border-bottom: 1px solid $color;
      display: inline-block;
      height: 91px;
      overflow: hidden;
      padding-top: 20px;
      text-align: left;
      width: 100%;
  }

  .oc-tab {
      border: 1px solid $color;
      border-bottom-width: 0;
      color: $color;
      display: inline-block;
      font: #{$minimum-font-size}/90px $font-family-light;
      margin: 0 20px 0 0;
      padding: 0 16px;
      position: relative;
      vertical-align:  top;
  }

  .oc-tab.selected {
      background: linear-gradient(to top, rgba(190,222,255, .4), rgba(255,222,255, 0));
      -moz-box-shadow: 0px 1px 8px rgba(190,222,255,0.53), 0px 1px 10px rgba(190,222,255,0.53);
      box-shadow: 0px 1px 8px rgba(190,222,255,0.53), 0px 1px 10px rgba(190,222,255,0.53);
      text-shadow: 0 0 6px $color, 0 0 12px $color;
  }

}
