/* Mazda Modifications */
.default .oc-list-view-container.vertical ul.oc-list-view li,
.default .oc-list-view-container.vertical.centered ul.oc-list-view li,
.default .oc-list-view-container.vertical.centered ul.oc-list-view li.selected,
.oc-list-view li {
    font-size: 20px !important;
    padding-left: 20px;
}

.default .oc-list-view-container.vertical .oc-listitemview .item-text {
	vertical-align:top;
    margin-top: 2px;
    overflow: visible;
    text-overflow: initial;
    width: 46%;
}

.default .oc-list-view-container.vertical .oc-listitemview .item-quantity {
    font-size: 18px !important;
    position: relative;
    padding-right: 0%;
    top: 5px;
    width: 23%;
    height: 100%;
}

.default .oc-list-view-container.vertical .oc-listitemview .item-status {
    width: 24%;
    top: 22px;
}

