<span id="np-top" data-oc-control="TextView"></span>
<div class="np-horiz-rule"></div>
<div id="np-title-block">
    <div id="np-station" class="np-title" data-oc-control="TextView"></div>
    <div id="np-from" class="np-title" data-oc-control="TextView"></div>
    <div id="np-context" class="np-title" data-oc-control="TextView"></div>
    <div id="np-track" class="np-title" data-oc-control="TextView"></div>
</div>
<div id="np-content-image" data-oc-control="AspectImageView"></div>
<div id="np-play-time" style="display:none;"></div>
<div id="streaming-indicator" class="oc-progress-bar" style="display:none;"><div>Live</div></div>
