/*
    System GUI Styles
*/
/*
    IVI Viewport / Wrapper Styles
*/
@media screen and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
  /* line 12, ../../scss/gui.scss */
  #oc-wrapper {
    margin: 144px auto;
  }
}
/* line 17, ../../scss/gui.scss */
.pink-theme {
  /*
      Boot Errors
  */
  /*
      Notification Center
  */
  /*
      Exit Bumper Styles
  */
  /*
      System Dialog
  */
}
/* line 18, ../../scss/gui.scss */
.pink-theme #oc-wrapper {
  margin: 0 auto;
  background: radial-gradient(at top center at top center, #808181, #222223);
  color: #fff;
  overflow: hidden;
  top: 0;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}
/* line 27, ../../scss/gui.scss */
.pink-theme #oc-wrapper,
.pink-theme #oc-apps-wrapper,
.pink-theme #oc-apps-viewport {
  position: relative;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}
/* line 35, ../../scss/gui.scss */
.pink-theme #oc-apps-viewport {
  height: 480px;
  overflow: hidden;
  z-index: 1;
}
/* line 40, ../../scss/gui.scss */
.pink-theme #oc-apps-viewport .app-in .oc-app-splash {
  display: none;
}
/* line 42, ../../scss/gui.scss */
.pink-theme #oc-apps-viewport .app-in .oc-app-splash .oc-progress-spinner {
  display: none;
}
/* line 48, ../../scss/gui.scss */
.pink-theme #oc-apps-viewport.spinner .app-in .oc-app-splash {
  display: block;
}
/* line 50, ../../scss/gui.scss */
.pink-theme #oc-apps-viewport.spinner .app-in .oc-app-splash .oc-progress-spinner {
  display: block;
}
/* line 57, ../../scss/gui.scss */
.pink-theme #oc-apps-wrapper,
.pink-theme #oc-apps-viewport,
.pink-theme .oc-app-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 65, ../../scss/gui.scss */
.pink-theme #oc-apps-wrapper {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}
/* line 72, ../../scss/gui.scss */
.pink-theme .oc-transition-slide {
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in;
  -o-transition-property: opacity;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-in;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}
/* line 92, ../../scss/gui.scss */
.pink-theme .oc-app-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
}
/* line 98, ../../scss/gui.scss */
.pink-theme #oc-wrapper,
.pink-theme .oc-app-wrapper {
  overflow: hidden;
}
/* line 103, ../../scss/gui.scss */
.pink-theme .oc-screen {
  width: 100%;
  height: 100%;
}
/* line 112, ../../scss/gui.scss */
.pink-theme #oc-boot-error {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15000;
  width: 100%;
  height: 100%;
  background-color: #000;
}
/* line 122, ../../scss/gui.scss */
.pink-theme #oc-boot-error > span {
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 50%;
  margin-left: -200px;
  width: 400px;
  height: 100px;
  color: #fff;
  font-size: 18px;
  font-family: Roboto-Light, Helvetica, Arial, sans-serif;
  padding-top: 60px;
  text-align: center;
}
/* line 137, ../../scss/gui.scss */
.pink-theme #oc-boot-error > span > span {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  background-color: transparent;
  background-image: url(../../images/warning.svg);
}
/* line 153, ../../scss/gui.scss */
.pink-theme #oc-notification-center {
  position: absolute;
  top: -100%;
  height: 100%;
  background: radial-gradient(at top center at top center, #808181, #222223);
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  z-index: 11000;
  transition: top ease-in-out 0.3s;
  -moz-transition: top ease-in-out 0.3s;
  -o-transition: top ease-in-out 0.3s;
  -webkit-transition: top ease-in-out 0.3s;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}
/* line 171, ../../scss/gui.scss */
.pink-theme #oc-notification-center.oc-notification-center-visible {
  top: 0;
}
/* line 175, ../../scss/gui.scss */
.pink-theme #oc-notification-center .oc-listview-container {
  border: 1px solid #1E1F1F;
  border-radius: 22px;
  background: #282A2A;
  box-shadow: inset 0 0 3px #1B1C1C;
  padding: 10px;
  height: 90%;
}
/* line 184, ../../scss/gui.scss */
.pink-theme #oc-notification-center .oc-listview-container:focus {
  background: #343636;
}
/* line 188, ../../scss/gui.scss */
.pink-theme #oc-notification-center li {
  padding: 10px;
  border-radius: 12px;
  font-weight: bold;
  -webkit-box-sizing: border-box;
}
/* line 195, ../../scss/gui.scss */
.pink-theme #oc-notification-center li.oc-notification-read {
  font-weight: normal;
}
/* line 199, ../../scss/gui.scss */
.pink-theme #oc-notification-center li.selected {
  background-color: rgba(4, 187, 233, 0.7);
}
/* line 203, ../../scss/gui.scss */
.pink-theme #oc-notification-center .oc-button {
  height: 6%;
  margin-top: 2%;
  width: 100%;
}
/* line 213, ../../scss/gui.scss */
.pink-theme #oc-exit-bumper {
  position: absolute;
  left: 0;
  top: 50%;
  box-sizing: border-box;
  width: 69px;
  height: 80px;
  margin-top: -40px;
  pointer-events: none;
  z-index: 11002;
}
/* line 225, ../../scss/gui.scss */
.pink-theme #oc-exit-bumper > div {
  position: absolute;
  width: 69px;
  height: 80px;
  left: -69px;
  background: transparent url(../../images/exit-bumper-arrow.png) no-repeat scroll center center;
  transition: left ease-in-out 250ms;
  -moz-transition: left ease-in-out 250ms;
  -o-transition: left ease-in-out 250ms;
  -webkit-transition: left ease-in-out 250ms;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}
/* line 240, ../../scss/gui.scss */
.pink-theme #oc-exit-bumper.oc-exit-bumper-visible > div {
  left: -5px;
  pointer-events: auto;
}
/* line 249, ../../scss/gui.scss */
.pink-theme #oc-apps-viewport > .oc-dialog-modal-overlay {
  z-index: 11001;
}
/* line 253, ../../scss/gui.scss */
.pink-theme #oc-system-dialog {
  width: 500px;
  padding: 20px;
  z-index: 11002;
  font-size: 20px;
}
/* line 260, ../../scss/gui.scss */
.pink-theme #oc-system-dialog h1 {
  font-family: Roboto-Thin, Helvetica, Arial, sans-serif;
  line-height: 64px;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
  margin: 0 0 20px;
  color: #fff;
  font-size: 33px;
  position: relative;
}
/* line 271, ../../scss/gui.scss */
.pink-theme #oc-system-dialog h1 .oc-vehicle-icon {
  font-weight: normal;
  margin-right: 20px;
  line-height: 1;
  position: relative;
  top: 12px;
}
/* line 279, ../../scss/gui.scss */
.pink-theme #oc-system-dialog p {
  margin: 20px 0;
  font-size: 20px;
  line-height: 28px;
}
