/* About Application Styles */

body.oc-module-view.default {
    background-image: url(../images/texture.png);
    padding: 0;
}

.oc-listview-container.vertical li {
    max-width: 800px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.oc-listview-container.vertical li.oc-license-display {
    height: auto;
    width: 800px;
    overflow: hidden;
    font-size: 20px;
    text-shadow: none;
    line-height: 1.2;
    word-wrap: break-word;
    white-space: normal;
    padding-top: 24px;
}
