<div class="oc-pane" id="poi-wrapper">
	<div class="oc-pane" id="container-content">
		<div class="oc-pane" id="container-detail-content">
			<span data-oc-control="TextView" id="text-view-title"></span>
			<span data-oc-control="TextView" id="text-view-detail-1" class="text-view-detail"></span>
			<span data-oc-control="TextView" id="text-view-detail-2" class="text-view-detail"></span>
			<span data-oc-control="TextView" id="text-view-detail-3" class="text-view-detail"></span>
		</div>
		<div class="oc-pane" data-oc-control="Pane" id="container-image">
		</div>
	</div>
</div>

