<section>
    {{#if __header}}
        <header>{{{block 'header'}}}</header>
    {{/if}}
    {{#if __main}}
        <main>{{{block 'main'}}}</main>
    {{/if}}
    {{#if __footer}}
        <footer>{{{block 'footer'}}}</footer>
    {{/if}}
</section>
