@import "base";
/* Slider Styles */

.#{$theme}{
  .oc-slider,
  .oc-slider-value-picker {
      box-sizing: border-box;
      display: block;
  }


  .oc-slider {
      outline: none;
      background-color: rgba(255, 255, 255, .2);
      border: 1px solid rgba(255, 255, 255, .35);
      height: 15px;
      width: 200px;
      position: relative
  }

  .oc-slider-value-picker {
      position: absolute;
      background: url(/ui/res/common/images/slider-handle.png) no-repeat 0 2px;
      width: 50px;
      height: 50px;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      background-size: 100%;
  }

  .oc-slider:hover:not(:disabled) .oc-slider-value-picker,
  .oc-slider:focus:not(:disabled) .oc-slider-value-picker{
      background-position: 0 -49px;
  }

  .oc-slider.oc-slider-vertical {
      height: 200px;
      width: 10px;
      margin: 0;
      padding: 0;
  }

  .oc-slider:not(.oc-slider-vertical) .oc-slider-value-picker {
      top: 50%;
      margin: -25px 0 0 -25px;
  }

  .oc-slider.oc-slider-vertical .oc-slider-value-picker {
      left: 50% !important;
      margin-left: -10px !important;
  }

  .oc-slider .oc-slider-value-shadow {
      background: linear-gradient(to top, $color, rgba(255, 255, 255, .55));

      -webkit-transition: width 500ms $cubic;
      -o-transition: width 500ms $cubic;
      -moz-transition: width 500ms $cubic;

      bottom: 0;

      -moz-box-shadow: 0px 1px 8px rgba(190,222,255,0.53), 0px 1px 10px rgba(190,222,255,0.53);
      box-shadow: 0px 1px 8px rgba(190,222,255,0.53), 0px 1px 10px rgba(190,222,255,0.53);
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      width: 100%;
  }
}
