/* Use this CSS file to define the styling for your application */

/* Classes to position elements right and left within a containing <div>
 */

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

/* Classes to size and position the lap list on the left side of the screen.
 */

.leftPanel {
    float: left;
    margin: 10px 0 0 10px;
    padding-left: 10px;
    width: 290px;
}

.lapTimeList {
    width: 270px;
    height: 240px;
}

.lapTimeContainer {
    overflow: hidden;
    margin: 1.2em 0 0 0;
    width: 6.5em;
    height: 2em;
}

/* Classes to size and position elements on the right side of the screen.
 */
 
.rightPanel {
    float: right;
    margin: 10px 10px 0 10px;
    width: 470px;
}

.elapsedTimeContainer {
    overflow: hidden;
    margin: 0 auto 0 auto;
    width: 8.6em;
    line-height: 1.7em;
}

#stopwatch .stopwatchNumber {
    font-size: 42px;
}

.buttonContainer {
    text-align: center;
}

.buttonContainer button {
    width: 120px;
}

/* Clock numerals are positioned absolutely, relative to the clock container element.
 * The width and height of the clock can be specified in CSS here or overridden in the
 * constructor, if desired.
 */

.clockContainer {
    position: relative;
}

/* In order for these styles to override the OpenCar profile for a TextView, we need
 * to specify them relative to the element id to get higher in the CSS cascade.
 */

#stopwatch .clockNumeral, #clock .clockNumeral {
    position: absolute;  
    text-align: center;
    font-size: 26px;
}