@font-face {
  font-family: Roboto-Regular;
  src: url(/ui/res/common/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Light;
  src: url(/ui/res/common/fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(/ui/res/common/fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-Condensed;
  src: url(/ui/res/common/fonts/Roboto/Roboto-Condensed.ttf);
}

@font-face {
  font-family: Roboto-BoldCondensed;
  src: url(/ui/res/common/fonts/Roboto/Roboto-BoldCondensed.ttf);
}

@font-face {
  font-family: Roboto-Medium;
  src: url(/ui/res/common/fonts/Roboto/Roboto-Medium.ttf);
}


@font-face {
  font-family: Roboto-Thin;
  src: url(/ui/res/common/fonts/Roboto/Roboto-Thin.ttf);
}

@font-face {
  font-family: ding;
  src: url(/ui/res/platform/font/OCC_icon-Regular.otf);
}
