@import "../scss/base";
/* Breadcrumb */

.#{$theme}{
  .oc-breadcrumb {
      position: absolute;
      color: $color;
      font-family: $font-family-light;
      top: 12px;
      left: 70px;
      font-size: 28px;
      line-height: 50px;
  }

  .oc-breadcrumb > span {
      box-shadow: inset 1px 1px 0 rgba(0,0,0,.15), inset -1px -1px 0 rgba(255,255,255,.15);
      background: rgba(0,0,0,.02);
      border-radius: 10px;
      display: inline-block;
      padding: 12px;
      margin-right: 12px;
      line-height: 26px;
  }

  .oc-breadcrumb.oc-no-title > span {
      box-shadow: none;
      background: none;
  }

  .oc-breadcrumb.oc-no-title > span > span {
      box-shadow: inset 1px 1px 0 rgba(0,0,0,.15), inset -1px -1px 0 rgba(255,255,255,.15);
      background: rgba(0,0,0,.02);
  }

  .oc-breadcrumb:focus {
      text-shadow: 0 0 6px $color
  }
}
